# Object files
*.o
*.dyn_o

# Linker output
*.s

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a

# Shared objects (inc. Windows DLLs)
*.so
*.dylib

# Executables
*.out

# Misc
*.orig
*.orig.*
*.bak
*.sav
.*.swp
*.DS_Store
*~
.nfs*
*.tmp
