# Object files
*.o
*.dyn_o

# Linker output
*.s

# Precompiled Headers
*.gch
*.pch

# Generated
dest.c
dest.h
xorauth.h
xorcrypto.h

# Libraries
*.a

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.out
sendip

# Misc
*.spec
*.orig
*.orig.*
*.bak
*.sav
.*.swp
*.DS_Store
*~
.nfs*
*.tmp
*.rej
test.c
*.project
makefile.dep
